NODE_ENV=example
PORT=

DB_HOST=localhost
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

DB_POOL_MAX=30
DB_IDLE_TIMEOUT=300000
DB_CONN_TIMEOUT=30000

BATCH_ENABLED=true

# NAVER API
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# CRON
BATCH_CRON_MORNING=0 30 10 * * *
BATCH_CRON_AFTERNOON=0 30 13 * * *

# ECOUNT ERP
ECOUNT_COMPANY_ID=
ECOUNT_USER_ID=
ECOUNT_API_CERT_KEY=

# CRON
BATCH_CRON_ECOUNT_ERP=0 0 11 * * *
BATCH_CRON_ECOUNT_TODAY_INVENTORY=0 30 0 * * *
BATCH_CRON_INVENTORY=0 30 11 * * *
BATCH_CRON_YESTERDAY_INVENTORY=0 10 11 * * *
BATCH_CRON_INVENTORY_TEN=*/10 * * * *

# 🔥 PlayAuto
PLAYAUTO_API_KEY=
PLAYAUTO_USER_ID=
PLAYAUTO_PASSWORD=
PLAYAUTO_BASE_URL=https://openapi.playauto.io
PLAYAUTO_TOKEN_URL=/api/auth
PLAYAUTO_DEPOT_URL=/api/depots
PLAYAUTO_STOCK_LIST_URL=/api/stock/list/v1.2
PLAYAUTO_SKU_ADD_URL=/api/stock/add/v1.2
PLAYAUTO_SKU_EDIT_URL=/api/stock/edit/v1.2
PLAYAUTO_STOCK_COND_URL=/api/stock/condition
PLAYAUTO_STOCK_MANAGE_URL=/api/stock/manage/v1.1
PLAYAUTO_TIMEOUT=10000

# 🔥 cron
BATCH_CRON_PLAYAUTO_DPT=0 30 23 * * *
BATCH_CRON_PLAYAUTO_SKU_LIST=0 30 1 * * *
BATCH_CRON_PLAYAUTO_SKU_PRICE=0 0 2 * * *
BATCH_CRON_PLAYAUTO_STOCK_COND=0 30 2 * * *     # 예: 02:30 (SKU PRICE 02:00 이후)
BATCH_CRON_PLAYAUTO_STOCK_MANAGE=0 10 3 * * *   # 예: 03:10